#map {
    height: 250px;
    width: 100%;
}

.booking-info div {
    padding: 1px 3px;
}

.booking-info .row:first-child {
    background-color: #006699;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

.booking-info .row.coloured-odd {
    background-color: #c4ebfc;
}

.booking-info .row.coloured-even {
    background-color: #f2f2f2;
}

.bottom-spacer {
    margin-bottom: 15px;
}

/* Timeline stuff */
.timeline-wrapper div {
    display: inline-block;
    margin: 3px;
    padding: 15px;
    border-radius: 10px;
}

.timeline-datepicker {
    max-width: 250px;
}

.timeline a {
    color: black;
}

.timeline a:hover div {
    background-color: #6fb1d5;
}

.timeline div {
    cursor: pointer;
    font-size: 12pt;
}

.timeline div.unavailable {
    color: #7f7f7f;
    background-color: lightgrey;
    cursor: not-allowed;
}

.timeline div.available {
    background-color: #54cb58;
}

#date_selector {
    font-size:16px;
    margin-top: 20px;
    background-color: #c4ebfc;
    padding-top:10px;
    padding-bottom: 10px;
    color:black;
}

#date_selector select {
    /*width: 200px;*/
    color:black;
}
