{% extends 'base.html' %}
{% block pagetitle %}Contact Us{% endblock %}
{% block header %}
    <style>
        textarea#id_message {
            height: 200px;
       }
    </style>
{% endblock header %}
{% block maincontent %}

    <h3>Contact Us</h3>
    {% load crispy_forms_tags %}
    <form class="validated-form" method="post">
        {% crispy contact_form %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
{% endblock %}