{% extends 'base_narrow.html' %}
{% load static %}
{% block pagetitle %}{% block pageheader %}Contact Us{% endblock %}{% endblock %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'carshare/css/contact_us.css' %}">
{% endblock header %}
{% block page-content %}

    <h2>Send us a message</h2>
    <p>We are happy to answer any questions you have!</p>
    <div class="col-lg-12 col-sm-12 contact-wrapper">
        <div class="col-xs-12 col-sm-6 forms">
            <h4 class="text-center"><strong>Message Us!</strong></h4>
            {% load crispy_forms_tags %}
            <form class="validated-form" method="post">
                {% crispy contact_form %}
            </form>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-6 col-sm-offset-0 forms contactinfo hidden-xs">
            <h4 class="text-center"><strong>Contact Information</strong></h4>
            <div class="col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10">
                <span class="glyphicon glyphicon-home icon"></span>
                <span class="address">123 Fake Street, Melbourne 3000, Australia</span>
            </div>
            <div class="col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10">
                <span class="glyphicon glyphicon-earphone icon"></span>
                <span class="oneline"><a href="tel:18001234564">1-800-123-4564</a></span>
            </div>
            <div class="col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10">
                <span class="glyphicon glyphicon-envelope icon"></span>
                <span class="oneline"><a href="mailto:enquiries@vroomcs.org">enquiries@vroomcs.org</a></span>
            </div>
        </div>
    </div>

    <div class="hidden-sm hidden-md hidden-lg col-xs-12">
        <h4 class="text-center"><strong>Contact Information</strong></h4>
        <div class="text-center">
            <span class="glyphicon glyphicon-home center-block mobileicon"></span>
            <span class="">123 Fake Street, Melbourne 3000, Australia</span>
        </div>
                <div class="text-center">
                <span class="glyphicon glyphicon-earphone center-block mobileicon"></span>
                <span class=""><a href="tel:18001234564">1-800-123-4564</a></span>
            </div>
            <div class="text-center">
                <span class="glyphicon glyphicon-envelope center-block mobileicon"></span>
                <span class=""><a href="mailto:enquiries@vroomcs.org">enquiries@vroomcs.org</a></span>
            </div>

    </div>
{% endblock %}
