{% extends 'base_narrow.html' %}
{% load static %}
{% block pagetitle %}{% block pageheader %}Frequently Asked Questions{% endblock %}{% endblock %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'carshare/css/faq.css' %}">
{% endblock header %}
{% block page-content %}

    <p class="top-spacer">Here are the most frequently asked questions about the services we provide. If your question isn't listed please
        <a href="{% url 'carshare:contact_us' %}">contact us</a>.</p>

    <button class="accordion">FAQ Question 1</button>
    <div class="panel">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla cursus magna ac imperdiet. In in urna
            ipsum. Duis porttitor ligula non venenatis lacinia. Maecenas feugiat ligula et felis elementum, sed auctor
            eros tincidunt. Sed vulputate convallis suscipit. Cras elementum sed mi ac sagittis. Praesent vel turpis id
            enim fringilla sollicitudin. Proin fringilla ultricies auctor. Nulla justo diam, efficitur a sem non,
            facilisis facilisis felis. Quisque id sapien lacus. Nulla semper sapien nec nisl egestas feugiat. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin leo nunc,
            feugiat ac lacinia id, blandit sed risus. Morbi sed mattis arcu. Nullam eget neque mi. Nulla id molestie
            nulla, id cursus arcu.
        </p>
    </div>

    <button class="accordion">FAQ Question 2</button>
    <div class="panel">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla cursus magna ac imperdiet. In in urna
            ipsum. Duis porttitor ligula non venenatis lacinia. Maecenas feugiat ligula et felis elementum, sed auctor
            eros tincidunt. Sed vulputate convallis suscipit. Cras elementum sed mi ac sagittis. Praesent vel turpis id
            enim fringilla sollicitudin. Proin fringilla ultricies auctor. Nulla justo diam, efficitur a sem non,
            facilisis facilisis felis. Quisque id sapien lacus. Nulla semper sapien nec nisl egestas feugiat. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin leo nunc,
            feugiat ac lacinia id, blandit sed risus. Morbi sed mattis arcu. Nullam eget neque mi. Nulla id molestie
            nulla, id cursus arcu.
        </p>
    </div>

    <button class="accordion">FAQ Question 3</button>
    <div class="panel">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla cursus magna ac imperdiet. In in urna
            ipsum. Duis porttitor ligula non venenatis lacinia. Maecenas feugiat ligula et felis elementum, sed auctor
            eros tincidunt. Sed vulputate convallis suscipit. Cras elementum sed mi ac sagittis. Praesent vel turpis id
            enim fringilla sollicitudin. Proin fringilla ultricies auctor. Nulla justo diam, efficitur a sem non,
            facilisis facilisis felis. Quisque id sapien lacus. Nulla semper sapien nec nisl egestas feugiat. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin leo nunc,
            feugiat ac lacinia id, blandit sed risus. Morbi sed mattis arcu. Nullam eget neque mi. Nulla id molestie
            nulla, id cursus arcu.
        </p>
    </div>

    <button class="accordion">FAQ Question 4</button>
    <div class="panel">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla cursus magna ac imperdiet. In in urna
            ipsum. Duis porttitor ligula non venenatis lacinia. Maecenas feugiat ligula et felis elementum, sed auctor
            eros tincidunt. Sed vulputate convallis suscipit. Cras elementum sed mi ac sagittis. Praesent vel turpis id
            enim fringilla sollicitudin. Proin fringilla ultricies auctor. Nulla justo diam, efficitur a sem non,
            facilisis facilisis felis. Quisque id sapien lacus. Nulla semper sapien nec nisl egestas feugiat. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin leo nunc,
            feugiat ac lacinia id, blandit sed risus. Morbi sed mattis arcu. Nullam eget neque mi. Nulla id molestie
            nulla, id cursus arcu.
        </p>
    </div>

    <button class="accordion">FAQ Question 5</button>
    <div class="panel">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla cursus magna ac imperdiet. In in urna
            ipsum. Duis porttitor ligula non venenatis lacinia. Maecenas feugiat ligula et felis elementum, sed auctor
            eros tincidunt. Sed vulputate convallis suscipit. Cras elementum sed mi ac sagittis. Praesent vel turpis id
            enim fringilla sollicitudin. Proin fringilla ultricies auctor. Nulla justo diam, efficitur a sem non,
            facilisis facilisis felis. Quisque id sapien lacus. Nulla semper sapien nec nisl egestas feugiat. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin leo nunc,
            feugiat ac lacinia id, blandit sed risus. Morbi sed mattis arcu. Nullam eget neque mi. Nulla id molestie
            nulla, id cursus arcu.
        </p>
    </div>

    <button class="accordion">FAQ Question 6</button>
    <div class="panel">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla cursus magna ac imperdiet. In in urna
            ipsum. Duis porttitor ligula non venenatis lacinia. Maecenas feugiat ligula et felis elementum, sed auctor
            eros tincidunt. Sed vulputate convallis suscipit. Cras elementum sed mi ac sagittis. Praesent vel turpis id
            enim fringilla sollicitudin. Proin fringilla ultricies auctor. Nulla justo diam, efficitur a sem non,
            facilisis facilisis felis. Quisque id sapien lacus. Nulla semper sapien nec nisl egestas feugiat. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin leo nunc,
            feugiat ac lacinia id, blandit sed risus. Morbi sed mattis arcu. Nullam eget neque mi. Nulla id molestie
            nulla, id cursus arcu.
        </p>
    </div>

    <button class="accordion">FAQ Question 7</button>
    <div class="panel">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla cursus magna ac imperdiet. In in urna
            ipsum. Duis porttitor ligula non venenatis lacinia. Maecenas feugiat ligula et felis elementum, sed auctor
            eros tincidunt. Sed vulputate convallis suscipit. Cras elementum sed mi ac sagittis. Praesent vel turpis id
            enim fringilla sollicitudin. Proin fringilla ultricies auctor. Nulla justo diam, efficitur a sem non,
            facilisis facilisis felis. Quisque id sapien lacus. Nulla semper sapien nec nisl egestas feugiat. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin leo nunc,
            feugiat ac lacinia id, blandit sed risus. Morbi sed mattis arcu. Nullam eget neque mi. Nulla id molestie
            nulla, id cursus arcu.
        </p>
    </div>


    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    $(".accordion").removeClass("active");
                    panel.style.maxHeight = null;
                } else {
                    $(".panel").css("max-height", "");
                    $(".accordion").removeClass("active");
                    this.classList.toggle("active");
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            }
        }
    </script>

{% endblock %}
