{% extends 'base.html' %}
{% block pagetitle %}Vroom Car Share - Find a Car{% endblock pagetitle %}
{% block homepage %}
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
    </head>
    <body>
    <div id="map"></div>
    <script>

        //Get users location
        //Add checks if there is no HTML5 and add default starting location
        navigator.geolocation.getCurrentPosition(initMap)

        function initMap(pos) {

            // Position of user
            //var crd = pos.coords;

            //Commented out for testing uncomment the line below to test geolocation
            //var user = {lat: crd.latitude, lng: crd.longitude};
            //Set user location to melbourne CBD
            var user = {lat: -37.813628, lng: 144.963058}; //comment this line to test geolocation
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: user
            });
            map.setOptions({styles: styles['hide']});
            var marker = new google.maps.Marker({
                position: user,
                map: map
            });


            // Create an array of alphabetical characters used to label the markers.
            var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function (location, i) {
                return new google.maps.Marker({
                    position: location,
                    label: labels[i % labels.length]
                });


            });


            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

            // Add a click listener to the markers
            markers.forEach(function (pod) {
                    pod.addListener('click', function () {
                        map.setCenter(pod.getPosition());
                    });

                });


        }


        // These will need to be pulled from the database
        var locations = [
            {lat: -37.814993, lng: 144.960791},
            {lat: -37.812569, lng: 144.963065},
            {lat: -37.814112, lng: 144.957229},
            {lat: -37.816531, lng: 144.969385}
        ]


        // Hide all POI
        var styles = {
            default: null,
            hide: [
                {
                    featureType: 'poi',
                    stylers: [{visibility: 'off'}]
                },
                {
                    featureType: 'transit',
                    elementType: 'labels.icon',
                    stylers: [{visibility: 'off'}]
                },
            ]
        };


    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxp8sbrSQCvnGpZedH-H7uND4GnIkwyQo&callback=initMap">
    </script>
{% endblock homepage %}