{% extends 'email/base.html' %}
{% block email_body %}
    <h1 style="color: #006599; font-size:45px; font-weight:bold; font-family: 'Open Sans', sans-serif;">Booking Confirmation</h1>
    <p style="font-size:16px;">Your booking has been confirmed. <br>
        If you would like to extend or cancel this booking, please <a href="https://vroom-car-share.herokuapp.com/" style="color: #006599; text-decoration: none;"><strong>login</strong></a> to the website.</p>

    <h4 style="color: #007cb6; font-size:20px; font-weight:bold;">Vehicle</h4>
    <p style="font-size:16px;">{{ booking.vehicle }}</p>
    <h4 style="color: #007cb6; font-size:20px; font-weight:bold;">Location</h4>
    <p style="font-size:16px;">{{ booking.vehicle.pod.description }}</p>
    <h4 style="color: #007cb6; font-size:20px; font-weight:bold;">Booking start</h4>
    <p style="font-size:16px;">{{ booking.schedule_start }}</p>
    <h4 style="color: #007cb6; font-size:20px; font-weight:bold;">Booking end</h4>
    <p style="font-size:16px;">{{ booking.schedule_end }}</p>
{% endblock email_body %}

