<!-- BASE TEMPLATE -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <!-- Custom Bootstrap Theming -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <!-- Google Font Open Sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Had to move these to the top to support the datetimepicker widget which inserts scripts that rely on
    jquery/bootstrap straight after the HTML inputs
    -->
    <script src="{% static "js/jquery-3.2.1.js" %}"></script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js" type="text/javascript"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>

    <!-- Allow templates to add additional headers -->
    {% block header %} {% endblock %}

    <title>{% block pagetitle %}{% endblock %}</title>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Have an account? Login</h4>
            </div>
            <form action="{% url 'login' %}" method="post" class="submission-form validated-form">
                {% csrf_token %}
                <div class="modal-body">
                    <div id="div_id_username" class="form-group">
                        <label for="id_email" class="control-label  requiredField">Email<span class="asteriskField">*</span> </label>
                        <div class="controls ">
                            <input type="email" name="username" autofocus maxlength="254" class="textinput textInput form-control" required="" id="id_email">
                        </div>
                    </div>
                    <div id="div_id_password" class="form-group">
                        <label for="id_password" class="control-label  requiredField">Password<span class="asteriskField">*</span></label>
                        <div class="controls ">
                            <input type="password" name="password" class="textinput textInput form-control" required="" id="id_password">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Modal -->


<nav class="navbar navbar-default">
    <div class="container header_footer">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="mobile_header">
                <a class="navbar-brand" href="{% url 'index' %}"><img
                        src="{% static "images/vroom_logo.png" %}" id="logo"/></a>
            </div>
        </div>


        <!-- second attempt floating menu -->
        <div class="row" id="floating_auth">
            {% if user.is_authenticated %}
                <div id="logout"><a href="{% url 'logout' %}">LOGOUT</a></div>
                <div>|</div>
                <div><a href="{% url 'profile' %}">PROFILE</a></div>
            {% else %}
                <div id="login"><a href="#" data-toggle="modal" data-target="#myModal">LOGIN</a></div>
                <div>|</div>
                <div><a href="{% url 'register' %}">REGISTER</a></div>
            {% endif %}
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="#">PRICING</a></li>
                <li><a href="{% url 'find_a_car' %}">FIND A CAR</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle hidden-lg hidden-md hidden-sm" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">ACCOUNT<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}" class="hidden-lg hidden-md hidden-sm">LOGOUT</a></li>
                            <li><a href="{% url 'profile' %}" class="hidden-lg hidden-md hidden-sm">PROFILE</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}" class="hidden-lg hidden-md hidden-sm">LOGIN</a></li>
                            <li><a href="{% url 'register' %}" class="hidden-lg hidden-md hidden-sm">REGISTER</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="#">ABOUT</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">HELP<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">HOW IT WORKS?</a></li>
                        <li><a href="{% url 'contact_us' %}">CONTACT US</a></li>
                        {% if user.is_staff %}
                            <li><a href="/admin/">ADMIN</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- Global alert for messages (e.g. account created successfully -->
{% if messages %}
    <div class="messages col-xs-12 col-lg-offset-1 col-lg-10">
        {% for message in messages %}
            <div class="row">
            <div class="text-center alert alert-{{ message.tags }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                {{ message }}

            </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

    {% block homepage %}{% endblock %}

    {% url 'index' as home_url %}
    {% if not request.get_full_path == home_url %}
        <div class="middle_content notflush">
            {% block maincontent %}{% endblock %}
        </div>
    {% endif %}

<footer class="footer">
    <div class="container header_footer">
        <div class="row">
            <div class="website-footer-container hidden-xs">
                <div class="website-footer">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="website-footer">
                    <ul>
                        <li><a href="#">Make Booking</a></li>
                        <li><a href="{% url 'find_a_car' %}">Find A Car</a></li>
                        <li><a href="#">How It Works</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
                <div class="website-footer">
                    <ul>
                        <li><a href="" data-toggle="modal" data-target="#myModal">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="#">My Account</a></li>
                    </ul>
                </div>
            </div>


            <!-- mobile footer start -->
            <div class="site-map-mobile hidden-sm hidden-md hidden-lg">
                <div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">How It Works</a></li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li><a href="#">Make Booking</a></li>
                        <li><a href="#">Find A Car</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="#">My Account</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- end row -->


        <div class="row hidden-xs" id="socials">
            <div>
                <img src="{% static "images/sm_phone.png" %}" class="social_icon">
                <img src="{% static "images/sm_insta.png" %}" class="social_icon">
                <img src="{% static "images/sm_facebook.png" %}" class="social_icon">
                <img src="{% static "images/sm_email.png" %}" class="social_icon">
                <img src="{% static "images/sm_location.png" %}" id="last_social">
            </div>
        </div>


        <!-- Mobile version of social icons -->
        <div class="row small_socials hidden-sm hidden-md hidden-lg">
            <div>
                <img src="{% static "images/sm_phone.png" %}" class="">
                <img src="{% static "images/sm_insta.png" %}" class="">
                <img src="{% static "images/sm_facebook.png" %}" class="">
            </div>
        </div>
        <div class="row small_socials2 hidden-sm hidden-md hidden-lg">
            <div>
                <img src="{% static "images/sm_email.png" %}" class="">
                <img src="{% static "images/sm_location.png" %}" class="">
            </div>
        </div>
        <!-- End Mobile version of social icons -->

        <div class="row">
            <div id="copyright"> Copyright &COPY; Vroom Car Share 2017</div>
        </div>

    </div>
</footer>

{# JQuery Validation Plugin, customized for Bootstrap #}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js'></script>
    <script>
        $.validator.setDefaults({
            highlight: function(element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if(element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
        // Validate all forms with .validated-form
        $('.validated-form').each(function() {
            $(this).validate();
        });
    </script>

<script>
    $(function() {
        $('.messages').delay(2500).fadeOut();
    });
</script>

<script>
    // Focus email on modal login form
    $('.modal').on('shown.bs.modal', function() {
        $(this).find('[autofocus]').focus();
    });
</script>

{% block scripts %}{% endblock %}
</body>
</html>