{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "carshare/css/pdf/invoice.css" %}">


</head>

<body>

<div class="container">
    <div class="row">
        <div id="logo" class="col-lg-4">
            <a href="https://vroom-car-share.herokuapp.com/"><img
                    src="https://vroom-car-share.herokuapp.com/static/images/vroom_logo.eae008acac4f.png"
                    alt="Vroom Car Share"/></a>
        </div>


        <div class="col-lg-5 companycontact">
            <p class="companyname">Vroom Car Share PTY LTD</p>
            <p><a href="mailto:Contact@vroomcs.org">Contact@vroomcs.org</a></p>
            <p><a href="tel:18001234564">1-800-123-4564</a></p>
        </div>

        <div class="col-lg-3 companyaddress">
            <p>123 Fake Street</p>
            <p>Melbourne, 3000</p>
            <p>Australia</p>
        </div>
    </div>

    <h1>Payment Summary</h1>
    <hr/>


    <div class="row">
        <div class="col-lg-4">
            <div class="col-lg-5">
                <p>Invoice Number</p>
                <p>Invoice Date</p>
                <p>Total Cost</p>
            </div>

            <div class="col-lg-7">
                <p><strong>{{ invoice.pk|stringformat:"05d" }}</strong></p>
                <p>{{ invoice.date }}</p>
                <p>${{ invoice.amount }}</p>

            </div>
        </div>

        <div class="col-lg-8">
            <p><strong>{{ invoice.booking.user.first_name }} {{ invoice.booking.user.last_name }}</strong></p>
            <p>{{ invoice.booking.user.address.address_line_1 }}</p>
            <p>{{ invoice.booking.user.address.city }}, {{ invoice.booking.user.address.postcode }}</p>
            <p>{{ invoice.booking.user.address.country }}</p>
            <p>{{ invoice.booking.user.email }}</p>
        </div>
    </div>


    <div class="row header">
        <div class="col-lg-2">Booking ID</div>
        <div class="col-lg-4">Description</div>
        <div class="col-lg-2">Trip Start</div>
        <div class="col-lg-2">Trip End</div>
        <div class="col-lg-2 cost">Total Cost</div>
    </div>

    <div class="row data">
        <div class="col-lg-2"><strong>{{ invoice.booking.id }}</strong></div>
        <div class="col-lg-4">{{ invoice.booking.vehicle.pod.description }}</div>
        <div class="col-lg-2">{{ invoice.booking.schedule_start }}</div>
        <div class="col-lg-2">{{ invoice.booking.schedule_end }}</div>
        <div class="col-lg-2 cost">${{ invoice.booking.calculate_cost|stringformat:".2f" }}</div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <p>Thank you for choosing Vroom Car Share</p>
            <p>Your credit card has been automatically processed</p>
            <p>Direct enquiries to <a href="mailto:enquiries@vroomcs.org">enquiries@vroomcs.org</a></p>
        </div>
    </div>
</div>

</body>
</html>