{% extends 'base.html' %}
{% block pagetitle %}{% block pageheader %}Edit Profile{% endblock %}{% endblock %}
{% block maincontent %}

    <div class="top-spacer">
        {% load crispy_forms_tags %}
        <form action="" method="post">
            <h3> User Details </h3>
            {% crispy user_form %}

            <h3>Address</h3>
            {% crispy address_form %}

            <button type="submit" class="btn btn-primary load-after-click">Save</button>
            <a class="btn btn-link" href="{% url 'profile' %}">Cancel</a>
        <br/><br/>
        </form>
    </div>

{% endblock %}

