{% extends 'base.html' %}
{% block pagetitle %}Profile{% endblock %}
{% block maincontent %}

    <h2>User Profile</h2>
    <br/>
    <h4>Name: </h4>
    {{ user.first_name }} {{ user.last_name }}
    <br/><br/>
    <h4> Birthday: </h4>
    {{ user.date_of_birth }}
    <br/><br/>
    <h4> Address:</h4>
    {{ user.address }}
    <br/><br/>
    <h4> Password </h4>
    <p></p><a href="{% url 'password_change' %}"> Change your password</a></p>
    <br/>
    <p><a class="btn btn-default" href="{% url 'editprofile' %}"> Edit Profile </a></p>

{% endblock %}

