{% extends 'email/base.html' %}
{% block email_body %}
	<h1 style="color: #006599; font-size:45px; font-weight:bold;">Hi {{ firstname }}!</h1>
    <p style="font-size:16px;">Thanks for choosing <strong>Vroom</strong> as your preferred transport provider. <br />
        We look forward to giving you the best experience possible.</p>

    <p style="font-size:16px;">In order to ensure this email belongs to you, please click the link below to activate your account.</p>

    <p><a href="{{ activate_url }}">Activate Account</a></p>

    <p style="font-size:16px;">To get started head over to our "<strong><a href="#">How it works</a></strong>" section to get yourself informed
        <br />and start enjoying the benefits.</p>
{% endblock email_body %}

