{% extends 'registration/register_base.html' %}
{% block maincontent %}

    <!-- MultiStep Form -->
    <div>
        <div class="row test">


            <h1>Register</h1>
            <p>Welcome to Vroom Car Share. Please provide the requested information on the following pages, and you'll
                be on
                your way.</p><br/>
            <p>These items will be required to complete this form:</p><br/>
            <ol>
                <li>A valid credit card linked to your preferred membership address.</li>
                <li>Your driver's license</li>
                <li>You must be 18 years or older, some exceptions apply</li>
                <li>Any Corporate/Member Discount Program or Frequent Traveler Numbers</li>
            </ol>

            <div class="col-md-12 col-md-offset-0">
                {% load crispy_forms_tags %}
                <form id="msform" method="post" action="">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li>Account Information</li>
                        <li class="active">Address</li>
                        <li>Payment Info</li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                        <h2 class="fs-title">Address</h2>
                        <h3 class="fs-subtitle">Your location to help customise your experience</h3>
                        {% crispy address_form %}
                        <a name="previous" class="previous action-button-previous">Previous</a>
                        <input type="submit" name="next" class="next action-button" value="Next"/>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

{% endblock %}