{% extends 'registration/register_base.html' %}

{% block regform %}
    {% load crispy_forms_tags %}
    <form class="validated-form" id="msform" method="post" action="">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">Account Information</li>
            <li class="active">Address</li>
            <li class="active">Payment Info</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">Payment Information</h2>
            <h3 class="fs-subtitle">Please provide your billing information</h3>
            {% crispy credit_card_form %}
            <a class="btn btn-link" href="{% url 'register_cancel' %}">Cancel</a>
            <a name="previous" class="btn btn-default" href="{% url 'register_address' %}">Previous</a>
            <input type="submit" name="next" class="btn btn-primary" value="Finish"/>
        </fieldset>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $('#id_card_number').focus()
    </script>
{% endblock %}