{% autoescape off %}
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>

<style type="text/css">
	#socials img {
		width:50px;

	}

	#socials {
		margin-top: 40px;
	}

	#email_container {
		width:800px;
		margin:auto;
		height: 460px;
		background-color:#e4e4e6;
		text-align:center;
		font-family: 'Open Sans';
	}

	#logo {
		margin-top:15px;
		width: 250px;
		height: 100px;
	}

	hr {
		width: 750px;
	}
</style>
<div id="email_container">
    <img src="https://vroom-car-share.herokuapp.com/static/images/vroom_logo.eae008acac4f.png"  alt="Vroom Car Share" id="logo" />
    <hr />
    {% block email_body %}
    {% endblock %}
        <div id="socials">
        	<img src="https://vroom-car-share.herokuapp.com/static/images/sm_phone.924b02b0dcb6.png" />
        	<img src="https://vroom-car-share.herokuapp.com/static/images/sm_insta.a89043b63c2e.png" />
        	<img src="https://vroom-car-share.herokuapp.com/static/images/sm_facebook.54b1d8602a5c.png" />
        	<img src="https://vroom-car-share.herokuapp.com/static/images/sm_email.6658e5881956.png" />
        	<img src="https://vroom-car-share.herokuapp.com/static/images/sm_location.bc9d18cf00b3.png" />
        </div>
</div>
</body></html>
{% endautoescape %}