{% extends 'base_narrow.html' %}
{% load static %}
{% block pagetitle %}{% block pageheader %}Booking Review{% endblock %}{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'carshare/css/bookings/detail.css' %}">
{% endblock %}

{% block page-content %}
    <div class="top-spacer">
        <div>
            <div class="row">
                <div class="col-xs-12" id="map"></div>
            </div>
        </div>
        <div class="booking-details">
            <div class="row text-center">
                <div class="col-lg-12  col-sm-12 col-xs-12">Name</div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12  col-sm-12 col-xs-12">{{ vehicle.name }}</div>
            </div>

            <div class="row text-center">
                <div class="col-lg-6  col-sm-6 col-xs-6">Make</div>
                <div class="col-lg-6  col-sm-6 col-xs-6">Model</div>
            </div>
            <div class="row text-center">
                <div class="col-lg-6  col-sm-6 col-xs-6">{{ vehicle.make }}</div>
                <div class="col-lg-6  col-sm-6 col-xs-6">{{ vehicle.model }}</div>
            </div>
            <div class="row text-center">
                <div class="col-lg-6 col-sm-6 col-xs-6">From</div>
                <div class="col-lg-6 col-sm-6 col-xs-6">To</div>
            </div>
            <div class="row text-center">
                <div class="col-lg-6  col-sm-6 col-xs-6">{{ scheduled_start }}</div>
                <div class="col-lg-6  col-sm-6 col-xs-6">{{ scheduled_end }}</div>
            </div>
            <div class="row text-center">
                <div class="col-lg-6  col-sm-6 col-xs-6">Location</div>
                <div class="col-lg-6 col-sm-6 col-xs-6">Cost</div>
            </div>
            <div class="row text-center">
                <div class="col-lg-6 col-sm-6 col-xs-6"> {{ vehicle.pod.description }}</div>
                <div class="col-lg-6  col-sm-6 col-xs-6">${{ booking.calculate_cost|stringformat:".2f" }}</div>
            </div>
        </div>

        <div class="actions">
            <div class="row text-center">
                <div class="col-xs-12">
                    <a class="btn btn-success" href=" {% url 'carshare:booking_confirmed' %}" >Confirm Booking</a>

                    <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#confirmCancel">Cancel</a>
                </div>
            </div>
        </div>


        <!-- Cancellation Modal -->
        <div class="modal fade" id="confirmCancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Cancellation</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to cancel? You will be redirected to Find A Car
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="{% url 'carshare:find_a_car' %}" class="btn btn-danger load-after-click">Confirm Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function initMap() {
            var vehicle = {
                lat: {{ vehicle.pod.latitude }},
                lng: {{ vehicle.pod.longitude }}
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: vehicle
            });
            var marker = new google.maps.Marker({
                position: vehicle,
                map: map,
                icon: "{% static "carshare/images/Geo_icon.png" %}"
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxp8sbrSQCvnGpZedH-H7uND4GnIkwyQo&callback=initMap"></script>
{% endblock %}
