{% extends 'base.html' %}
{% load static %}
{% block pagetitle %}All Bookings{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css"  href="{% static 'carshare/css/bookings/my_bookings.css' %}">
{% endblock %}

{% block maincontent %}
    <h2>My Bookings</h2>
    <p>To view details or edit a booking, click the Booking ID.</p>

    <div class="row">
        <div class="col-xs-12">
            <h3>Today</h3>
            {% if today_bookings or current_booking %}
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Vehicle</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if current_booking %}
                        <tr>
                            <td><a href="{% url 'carshare:booking_detail' current_booking.id %}">{{ current_booking.id }}</a></td>
                            <td>{{ current_booking.vehicle }}</td>
                            <td>{{ current_booking.schedule_start }}</td>
                            <td>{{ current_booking.schedule_end }}</td>
                            <td>{{ current_booking.get_status }}</td>
                        </tr>
                    {% endif %}
                    {% for booking in today_bookings %}
                        <tr>
                            <td><a href="{% url 'carshare:booking_detail' booking.id %}">{{ booking.id }}</a></td>
                            <td>{{ booking.vehicle }}</td>
                            <td>{{ booking.schedule_start }}</td>
                            <td>{{ booking.schedule_end }}</td>
                            <td>{{ booking.get_status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no bookings today.</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>Upcoming</h3>
            {% if upcoming_bookings %}
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Vehicle</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in upcoming_bookings %}
                        <tr>
                            <td><a href="{% url 'carshare:booking_detail' booking.id %}">{{ booking.id }}</a></td>
                            <td>{{ booking.vehicle }}</td>
                            <td>{{ booking.schedule_start }}</td>
                            <td>{{ booking.schedule_end }}</td>
                            <td>{{ booking.get_status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no upcoming bookings.</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>Past</h3>
            {% if past_bookings %}
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Vehicle</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in past_bookings %}
                        <tr>
                            <td><a href="{% url 'carshare:booking_detail' booking.id %}">{{ booking.id }}</a></td>
                            <td>{{ booking.vehicle }}</td>
                            <td>{{ booking.schedule_start }}</td>
                            <td>{{ booking.schedule_end }}</td>
                            <td>{{ booking.get_status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no past bookings.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
