/* DOCUMENT INFORMATION
	- Document: Carshare Theme
	- Version:  0.1
	- Author:
*/

/* ==== GLOBAL=== */
* {
    font-family: "Open Sans";
}

.middle_content {
    padding: 0px 15px 0px 15px;
}

.notflush {
    padding-bottom: 15px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#logo {
    width: 195px;
    height: 80px;
    margin-top: 10px;

}

.navbar-brand {
    line-height: 150px;
    height: 100px;
    padding-top: 0;
}

.navbar {
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar li {
    font-weight: bold;
    font-size: 16px;
}

/* Global message alert */
.messages .alert {
    margin-top: 10px;
    margin-bottom: 0;
}

.messages .row:last-child {
    margin-bottom: 10px;
}

/*
 * Crispy-forms tweaks
 */
.asteriskField {
    color: red;
}

.asteriskField::before {
    content: " "
}

/* Top Navbar */
ul.nav.navbar-nav li a {
    color: black;
}

ul.nav.navbar-nav li a:hover {
    color: #3399cc;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #3399cc;
}

ul.nav.navbar-nav {
    margin-top: 38px;
}

.navbar-nav li a {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-toggle {
    margin-top: 35px;
}

.mobile_header {
    width: 250px;
    margin: auto;
    height: 100px;
}

/* Floating Auth Menu */
#floating_auth {
    position: absolute;
    top: 0px;
    width: 200px;
    background-color: #3399cc;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    margin-left: 437px;
}

#floating_auth div {
    float: left;
    color: white;
    font-weight: bold;
    padding-top: 5px;
}

#floating_auth div a {
    color: white;
    font-size: 16px;
}

#floating_auth div a:hover {
    text-decoration: none;
}

#login {
    padding-right: 10px;
    padding-left: 25px;
}

#logout {
    padding-right:10px;
    padding-left:21px;
}

#floating_auth div:nth-child(2) {
    padding-top: 5px;
}

#floating_auth div:nth-child(3) {
    padding-left: 10px;
}

/* Website Footer */
.website-footer {
    float: left;
    margin: auto;
    width: 216px;
}

.website-footer-container {
    width: 650px;
    margin: auto;
}

.website-footer ul {
    list-style: none;
    text-align: center;
    margin-left: -40px;

}

.website-footer ul li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.website-footer ul li a:hover {
    color: #33ccff;
    text-decoration: none;
}

.site-map-mobile div ul {
    list-style: none;
    text-align: center;
    margin-left: -40px;
}

.site-map-mobile div ul li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.site-map-mobile div {
    float: left;
    width: 150px;
}

.site-map-mobile {
    width: 305px;
    margin: auto;
}

#socials div {
    width: 490px;
    margin: auto;
}

.social_icon {
    width: 78px;
    margin-right: 20px;
}

#last_social {
    width: 78px;
}

.small_socials div {
    width: 235px;
    margin: auto;
}

.small_socials2 div {
    width: 158px;
    margin: auto;
}

.small_socials2 div img {
    width: 75px;
}

.small_socials div img {
    width: 75px;
}

#copyright {
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    margin: auto;
}

.blue_section {
    background-color: #4cc1f6;
    color: white;
    padding:20px;
}

.blue_section h2 {
    font-weight:bold;
}

.blue_section p {
    font-size:18px;
}

.messages {
    position: fixed;
    top:0px;
    z-index: 99999999;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 400px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 400px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #006699;
}

/* Apply to mobile */
@media only screen and (min-width: 768px) {
    .header_footer {
        width: 705px;
        margin: auto;
    }

    .middle_content {
        width: 705px;
        margin: auto;
    }
}

/* Media Queries
--------------------------------------------------- */

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

@media only screen and (max-width: 480px) {

}

/* Small Devices - This is where the mobile menu activates*/
@media only screen and (max-width: 767px) {
    #floating_auth {
        display: none;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 530px;
        line-height: 60px; /* Vertically center the text there */
        background-color: #006699;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 530px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* IE Conditional */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    #copyright {
        color: white;
        font-weight: bold;
        font-size: 18px;
        width: 310px;
        margin: auto;
    }

    /* Floating Auth Menu */
    #floating_auth {
        position: absolute;
        top: 0px;
        width: 200px;
        background-color: #3399cc;
        height: 35px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        float: left;
        margin-left: 448px;
    }

}