{% extends 'base.html' %}
{% block pagetitle %}Register{% endblock %}
{% block maincontent %}

<h1> Register </h1>

    {% load crispy_forms_tags %}
    <form action="" method="post">
        {% csrf_token %}
        <h3>Account Details</h3>
        {% crispy user_form %}
        {% crispy user_profile_form %}
        <h3>Address</h3>
        {% crispy address_form %}
        <h3>Credit Card</h3>
        {% crispy credit_card_form %}
        <button type="submit" class="btn btn-default">Register</button>
    </form>

{% endblock %}